{% extends "layout.html" %}
{% load static %}

{% block teaser %}
{% with title='Contact Us' %}
{% include "includes/breadcrumbs.html" %}
{% endwith %}
{% endblock teaser %}

{% block content %}
<div class="inner">
    <div id="primary" class="grid_11 suffix_1">
        <article class="single">

            <div class="entry-content">

                <div class="long-description">
                    <h3>Join our email list to stay informed and get involved.</h3>
                </div>
                <br />
                <!-- <h3>Book your place:</h3>
                <br /> -->
                <form action="{% url 'main.contact' %}" id="contact-form" method="post">
                    {% csrf_token %}
                    <p>
                        <label for="contactName"></label>
                        <input class="radius" type="text" name="contactName" id="contactName" value="" placeholder="Name*" required />
                        <span class="clear"></span>
                    </p>
                    <p>
                        <label for="email"></label>
                        <input class="radius" type="email" name="email" id="email" value="" placeholder="Email Adress*" required />
                        <span class="clear"></span>
                    </p>
                    <p>
                        <label for="commentsText"></label>
                        <textarea class="contactme-text required requiredField radius" name="message" cols="10" rows="10" placeholder="Message" required="required"></textarea>
                        <span class="clear"></span>
                    </p>
                    <p>
                        <input class="buttons radius send" value="Send" type="submit" />
                        <input type="hidden" name="submitted" id="submitted" value="true" />
                    </p>
                </form>
                <div class="clear"></div>

            </div>

            <div class="clear"></div>

        </article>


    </div>

    <div id="secondary" class="grid_4 widget-area" role="complementary">

        <aside id="wpltfb-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Say Hello!</h3>
                <div class="clear"></div>
            </div>

            <div class="text-widget-body">

                <address class="vcard">
                    <b>E-mail:</b><span class="email"> <a href="mailto:{{ ADMIN_EMAIL_TO }}">info@{{ COMPANY_NAME|lower }}.org</a></span><br />
                    <!-- <b>Website:</b><span class="url"> www.{{ COMPANY_NAME|lower }}.org</span><br /><br> -->
                    <b>Check us out on <a target="_blank" href="https://www.facebook.com/groups/chaseyouth/">Facebook</a>!</b><br />
                </address>

            </div>
        </aside>

        <aside id="wpltfb3-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Events</h3>
                <div class="viewall fright"><a href="{% url 'event.index' when='upcoming' %}" class="radius" title="View all chauses">view all</a></div>
                <div class="clear"></div>
            </div>

            <div class="widget-event-body">
                <article class="event-item">
                    <figure>
                        <a title="Image title" href="">
                            <img width="272" height="150" src="{{ event.image.url }}" class="wp-post-image" alt="{{ event.title }}">
                            <div class="mask radius">
                                <div class="mask-square"><i class="fa fa-link" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </figure>
                    <h3 class="entry-header">
                        <a title="{{ event.title }}" href="{% url 'event.single' event.id %}">{{ event.title }}</a>
                    </h3>

                    <div class="entry-meta-widget">
                        <div class="date"><time datetime="2018-04-25T19:02:42+00:00"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.date|date:"M d, Y" }}</time></div>
                        <!-- <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">51 Sherbrooke W., Montreal</a></div> -->
                        <!-- <div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Facebook</a></div> -->
                    </div>

                </article>

            </div>
        </aside>

    </div>
    <div class="clear"></div>
</div>
{% endblock content %}