{% extends "layout.html" %}
{% load static %}

{% block teaser %}
{% include "includes/teaser.html" %}
{% endblock teaser %}

{% block content %}
<div class="inner">

    <!-- First widget areea -->
    <div class="grid_12 first-home-widget-area">
        <aside id="flexlatestnews" class="WPlookLatestNews flex-container-news">
            <div class="widget-title mright mleft">
                <h3>Featured News</h3>
                <div class="clear"></div>
            </div>

            <div class="latestnews-body flexslider-news">
                <ul class="slides">
                    {% for n in news|slice:":4" %}
                        {% if n.is_featured %}
                            <li>
                                <div class="image fright"><img class="radius" src="{{ n.image.url }}" alt="{{ n.title }}"></div>
                                <div class="content fleft">
                                    <h3>{{ n.title }}</h3>
                                    <p class="category">{{ n.category }}</p>
                                    <p class="description">{{ n.text|truncatechars:250 }}</p>
                                    <div class="flex-button-red"><a class="radius" href="{% url 'blog.single' n.slug %}">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </aside>
    </div>


    <!-- Second widget areea -->
    <div class="grid_4 second-home-widget-area">
        <aside id="wpltfbd-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Events</h3>
                <div class="viewall fright"><a href="{% url 'event.index' when='upcoming' %}" class="radius" title="View all chauses">view all</a></div>
                <div class="clear"></div>
            </div>

            <div class="widget-event-body">
                <article class="event-item">
                    <figure>
                        <a title="{{ event.title }}" href="{% url 'event.single' event.id %}">
                            <img width="272" height="150" src="{{ event.image.url }}" class="wp-post-image" alt="{{ event.title }}">
                            <div class="mask radius">
                                <div class="mask-square"><i class="fa fa-link" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </figure>
                    <h3 class="entry-header">
                        <a title="{{ event.title }}" href="{% url 'event.single' event.id %}">{{ event.title }}</a>
                    </h3>

                    <div class="entry-meta-widget">
                        <div class="date"><time datetime="{{ event.date }}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.date|date:"M d, Y" }}</time></div>
                        <!--<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">51 Sherbrooke W., Montreal</a></div>
                        <div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Facebook</a></div>-->
                    </div>

                </article>
            </div>
        </aside>
    </div>


    <!-- Third widget areea -->
    <div class="grid_16 third-home-widget-area">
        <aside id="wpltfbs-f2w" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Latest News</h3>
                <div class="viewall fright"><a href="{% url 'blog.index' %}" class="radius" title="View all causes">view all</a></div>
                <div class="clear"></div>
            </div>

            <div class="widget-causes-body">
                <!-- News -->
                {% for n in news %}
                    <article class="cause-item">
                        <figure>
                            <a title="{{ n.title }}" href="{% url 'blog.single' n.slug %}">
                                <img width="272" height="150" src="{{ n.image.url }}" class="wp-post-image" alt="{{ n.title }}">
                                <div class="mask radius">
                                    <div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </figure>
                        <h3 class="entry-header">
                            <a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="{% url 'blog.single' n.slug %}">{{ n.title }}</a>
                        </h3>

                        <div class="short-description">
                            <p>{{ n.text|truncatechars:150 }}</p>
                        </div>
                    </article>
                {% endfor %}
                <!-- News -->

            </div>
        </aside>
    </div>

    <!-- Forth widget areea -->
    <div class="grid_16 forth-home-widget-area">
        <aside id="wpltfbf-2" class="widget WPlookAnounce radius">
            <div class="announce-body mright mleft">
                <div class="margin">
                    <h1>Get involved and stay informed!</h1>
                    <div class="mailchimp-form-container">
                        <form action="{% url 'main.mailchimp' %}" class="mailchimp-form" method="POST">
                            {% csrf_token %}
                            <input type="email" id="email" placeholder="Please subscribe to our email list" name="email">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <h3>Program topics coming soon include: scholarships, mentoring, tutoring,<br /> financial planning workshops, mental health awareness, and much more!</h3>
                </div>
            </div>
        </aside>
    </div>

    <!-- Fifth Widget area -->
    <div class="clear"></div>

</div>
{% endblock content %}