{% extends "layout.html" %}
{% load static %}

{% block teaser %}
    {% with title='Staff' %}
        {% include "includes/breadcrumbs.html" %}
    {% endwith %}
{% endblock teaser %}

{% block content %}
<div class="inner">
    <div id="primary" class="grid_11 suffix_1">
        <article class="single">
            <!-- First canditate -->
            <div class="candidate radius grid_6">
                <div class="candidate-margins">

                    {% if s.image %}
                        <img width="200" height="210" src="{{ s.image.url }}" class="wp-post-image" alt="{{ s.first_name }} {{ s.last_name }}">
                    {% endif %}
                    <div class="name">{{ s.first_name }}  {{ s.last_name }}</div>
                    <div class="position">{% if s.role %}{{ s.role|lower }}{% else %}board member{% endif %}</div>
                    <!--<div class="social-icons">
                        <a class="fb radius" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a class="tw radius" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="pn radius" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a class="in radius" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a class="gp radius" href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        <a class="gh radius" href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a class="fl radius" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    </div>-->

                </div>
            </div>

            <div class="candidate-about fright">
                <h3>{{ s.intro }}</h3>
                <br />
                <p>{{ s.bio }}</p>
            </div>

            <div class="clear"></div>

        </article>


    </div>

    <div id="secondary" class="grid_4 widget-area" role="complementary">

        <aside id="wpltfb-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Latest Causes</h3>
                <div class="viewall fright"><a href="#" class="radius" title="View all chauses">view all</a></div>
                <div class="clear"></div>
            </div>

            <div class="widget-causes-body">

                <article class="cause-item">
                    <figure>
                        <a title="Image title" href="02-causes-list.html">
                            <img width="272" height="150" src="{% static 'images/temp/272x150.jpg' %}" class="wp-post-image" alt="Image alt">
                            <div class="mask radius">
                                <div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </figure>
                    <h3 class="entry-header">
                        <a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="02-causes-list.html">Supporting a day centre</a>
                    </h3>

                    <div class="short-description">
                        <p>Supporting 160 underprivileged children, mostly orphans and victims of HIV/AIDS, that visit daily the day centre: Centre Reborn for Hope. ALG finances feeding and education support.</p>
                    </div>
                </article>

            </div>
        </aside>

    </div>
    <div class="clear"></div>
</div>
{% endblock content %}