/* .list.event img {
    height: 170px;
    max-width: 292px;
} */

/* #teaser li > img {
    height: 714px;
    width: 1920px;
    object-fit: contain;
} */

/* #main .inner {} */

@media screen and (max-width:425px) {
    #contact-form input, #contact-form textarea {
        width: 90%;
    }
    #contact-form .buttons.radius.send {
        width: 96%;
    }
}

.logo-info img {
    width: 100px;
    height: 100%;
}

/* #site-title { */

/* position: relative;
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    /* border: 3px solid green; */
}

@media (max-width: 768px) {
    #sticky_navigation .grid_5 {
        width: unset;
    }
}

/* MAILCHIMP FORM */

/* Style the form - display items horizontally */

.mailchimp-form-container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.mailchimp-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* margin: 0 auto; */
}

/* Add some margins for each label */

.mailchimp-form label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */

.mailchimp-form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    /* width: 20%; */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */

.mailchimp-form button {
    padding: 10px 20px;
    background-color: #000;
    /* border: 1px solid #ddd; */
    color: white;
}

.mailchimp-form button:hover {
    background-color: #e53b51;
}

.alert-box-container {
    margin-top: 35px;
}

#teaser .flex-button>a.radius:hover {
    color: #FFFFFF !important;
    border: 1px solid #fff;
}

aside article figure {
    width: 100%;
    aspect-ratio: 16/9;
}

aside article figure img, .widget-area figure img {
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
}

article figure .mask.radius .mask-square {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.announcement-description {
    margin-top: 10px;
}

.announce-body button {
    margin-top: 10px;
}

/* @media (max-width: 640px) {
    #secondary .widget figure img {
        object-fit: cover;
        object-position: 0 0;
        height: 300px;
        min-width: 100%;
}
*/

.forth-home-widget-area {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */

@media (min-width: 641px) {
    .mailchimp-form input {
        width: 40%;
    }
}

@media (max-width: 640px) {
    #main #secondary.grid_4.widget-area {
        display: none;
    }
}

@media (max-width: 425px) {
    .mailchimp-form input {
        width: 100%;
    }
}

/* MAILCHIMP FORM */

/* HEADER TOOLBAR */

#toolbar ul .rss a, #toolbar ul .contact a, #toolbar ul .share a, #toolbar ul .search a {
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 480px) {
    #toolbar ul .donate {
        display: unset !important;
    }
}

/* HEADER TOOLBAR */

/* HEADER */

#site-title.header-logo a {
    font-size: 3rem;
    /* text-decoration: none; */
}

/* HEADER */