<div class="item teaser-page-list">
    <div class="container_16">
        <aside class="grid_4">
            <h1 class="page-title">{{ title }}</h1>
        </aside>
        <div class="grid_12">
            <div id="rootline">
                <a href="{% url 'main.home' %}">Home</a>

                <i class="fa fa-angle-right" aria-hidden="true"></i>
                {% if referrer %}
                    <a href="{% if e %} {% url referrer when='upcoming' %} {% else %} {% url referrer %} {% endif %}"><span class="current">{{ title }}</span></a>
                {% else %}
                    <span class="current">{{ title }}</span>
                {% endif %}

                {% if s %}
                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="current">{{ s.first_name }} {{ s.last_name }}</span>
                {% elif n %}
                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="current">{{ n.title|truncatechars:250|title }}</span>
                {% elif e %}
                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="current">{{ e.title|truncatechars:250|title }}</span>
                {% endif %}

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>