<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="tertiary" class="sidebar-container" role="complementary">
        <div class="container_16">

            <!-- First Widget Area -->
            <div class="grid_4">
                <aside id="meta-0" class="widget widget_adress">
                    <h3>Contact us</h3>
                    <address class="vcard">
                        <p class="org vcard"><a class="url fn org" href="#">{{ COMPANY_NAME }}</a><p>
                        <b>E-mail:</b><span class="email"> <a href="mailto:{{ ADMIN_EMAIL_TO }}">info@{{ COMPANY_NAME|lower }}.org</a></span><br />
                    </address>
                </aside>
            </div>

            <!-- Second Widget Area -->
            <div class="grid_4">
                <aside id="meta-1" class="widget widget_meta">
                    <h3>Latest events</h3>
                    <ul>
                        {% for e in EVENTS|slice:":5" %}
                            <li><a href="{% url 'event.single' e.id %}" title="{{ e.title }}">{{ e.title|truncatechars:30 }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>

            <!-- Third Widget Area -->
            <div class="grid_4">
                <aside id="meta-2" class="widget widget_meta">
                    <h3>Get involved</h3>
                    <ul>
                        <!--<li><a href="#">The Big Give Team</a></li>
                        <li><a href="#" title="Success Stories">Success Stories</a></li>
                        <li><a href="#" title="Press">Press</a></li>-->
                        <li><a href="{% url 'main.contact' %}" title="Contact Us">Contact Us</a></li>
                    </ul>
                </aside>
            </div>

            <!-- Forth Widget Area -->
            <div class="grid_4">
                <aside id="meta-3" class="widget widget_meta">
                    <h3>Latest news</h3>
                    <div class="latest-tweets-body">
                        <a href="#">Stay up to date by checking out our Facebook!
                    </div>
                    <div class="clear"></div>
                    <div><a target="blank" href="https://www.facebook.com/groups/ChaseYouth/" class="radius follow">Follow Us</a></div>
                </aside>
            </div>

            <div class="clear"></div>
        </div>
    </div>


    <!-- Site Info -->
    <div class="site-info">
        <div class="container_16">

            <!-- CopyRight -->
            <div class="grid_8">
                <p class="copy">Copyright © 2021. All Rights reserved. </p>
            </div>

            <!-- Design By -->
            <div class="grid_8">
                <p class="designby">Website by <a target="_blank" href="https://zaraconsulting.org">Zara Consulting, LLC</a></p>
            </div>

            <div class="clear"></div>
        </div>
    </div><!-- .site-info -->
</footer>