<!-- Toolbar -->
<div id="toolbar">
    <div class="container_16">
        <div class="grid_16">
            <ul>
                <li class="phone"><a href="tel:+1 554 555 5555">Tel.: +1 554 555 5555</a></li>
                <li class="rss"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                <li class="contact"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                <li class="share"><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                    <ul class="share-items radius-bottom">
                        <li class="share-item-fb radius"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li class="share-item-tw radius"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="share-item-gp radius"><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                    </ul>
                </li>
                <li class="search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <ul class="search-items radius-bottom">
                        <li>
                            <div class="search-form">
                                <form method="get" id="searchform" action="action">
                                    <div>
                                        <input class="radius" type="text" size="" name="s" id="s" value="Type your searching word" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
                                        <input type="submit" id="searchsubmit" value="Search" />
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="donate"><a href="#">Donate <i class="fa fa-tint" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /#toolbar -->