<ul id="menu-main-menu" class="nav-menu">
    <li class="menu-item "><a href="{% url 'main.home' %}">Home</a></li>
    <li class="menu-item "><a href="{% url 'main.about' %}">About Us</a></li>
    <li class="menu-item "><a href="{% url 'event.index' when='upcoming' %}">Events</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="{% url 'event.index' when='upcoming' %}">Upcoming Events</a></li>
            <li class="menu-item"><a href="{% url 'event.index' when='past' %}">Past Events</a></li>
            
        </ul>
    </li>
    <li class="menu-item "><a href="{% url 'staff.index' %}">Our Staff</a></li>
    <li class="menu-item "><a href="#">Donate</a>
        <ul class="sub-menu">
            <!-- <li class="menu-item"><a href="#">CashApp</a>
                <ul class="sub-menu">
                    <li id="snapchat" class="menu-item">
                        <a id="snapchat-copy-link" href="javascript:void(0)">
                            $CHASEYOUTH
                        </a>
                    </li>
                </ul>
            </li> -->
            <li class="menu-item"><a target="_blank" href="{{ SNAPCHAT_URL }}">Cashapp</a></li>
            <li class="menu-item"><a target="_blank" href="{{ PAYPAL_URL }}">PayPal</a></li>

        </ul>
    </li>
    <li class="menu-item "><a href="{% url 'main.contact' %}">Get Involved</a></li>
</ul>