{% load static %}

<div id="teaser">
    <div class="flexslider loading">
        <ul class="slides">
            <li data-thumb="{% static 'images/temp/272x150.jpg' %}">
                <img src="{% static 'images/temp/1920x714.jpg' %}" alt="image allt">
                <div class="flex-caption ">
                    <div class="flex-content container_16">
                        <div class="grid_16">
                            <h1>Our Work with refugees</h1>
                            <h2>Find out more about our work around the world providing crucial medical care to people fleeing their homes.</h2>
                            <div class="flex-button"><a class="radius" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-thumb="{% static 'images/temp/272x150.jpg' %}">
                <img src="{% static 'images/temp/1920x714.jpg' %}" alt="image allt">
                <div class="flex-caption">
                    <div class="flex-content container_16">
                        <div class="grid_16">
                            <h1>Donate and give clean water</h1>
                            <h2>Just $20 can provide a person with clean drinking water. 100% funds water projects for people in need.</h2>
                            <div class="flex-button"><a class="radius" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-thumb="{% static 'images/temp/272x150.jpg' %}">
                <img src="{% static 'images/temp/1920x714.jpg' %}" alt="image alt">
                <div class="flex-caption">
                    <div class="flex-content container_16">
                        <div class="grid_16">
                            <h1>Let's build something incredible</h1>
                            <h2>Help build a future for 12,000 schoolchildren. Become part of the Madagascar Schools Appeal.</h2>
                            <div class="flex-button"><a class="radius" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-thumb="{% static 'images/temp/272x150.jpg' %}">
                <img src="{% static 'images/temp/1920x714.jpg' %}" alt="image allt">
                <div class="flex-caption">
                    <div class="flex-content container_16">
                        <div class="grid_16">
                            <h1>Give water give life</h1>
                            <h2>$3 a month could help stop children dying from drinking dirty water</h2>
                            <div class="flex-button"><a class="radius" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>