{% load static %}

<div id="teaser">
    <div class="flexslider loading">
        <ul class="slides">
            {% for w in works %}
                <li data-thumb="{{ w.image.url }}">
                    <img src="{{ w.image.url }}" alt="image allt">
                    <div class="flex-caption ">
                        <div class="flex-content container_16">
                            <div class="grid_16">
                                <h1>{{ w.title }}</h1>
                                <h2>{{ w.excerpt|truncatechars:100 }}</h2>
                                <div class="flex-button"><a class="radius" href="{% url 'works.single' slug=w.slug %}">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>