{% extends "layout.html" %}
{% load static %}

{% block teaser %}
    {% with title='News' %}
        {% include "includes/breadcrumbs.html" %}
    {% endwith %}
{% endblock teaser %}

{% block content %}
<div class="inner">
    <div id="primary" class="grid_11 suffix_1">

        <article class="single">

            <div class="event-info radius">

                <div class="month-time fleft">
                    <span class="day fleft">{{ n.date.timestamp|date:"d" }}</span>
                    <span class="month">{{ n.date.timestamp|date:"M, Y" }}</span><br />
                    <!-- <span class="stime"><strong>{{ n.date_created|date:"i:M p" }}</strong></span> -->
                </div>



                <!--
                <span class="event-address fleft">
                    <span class="event-location fleft">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    51 Sherbrooke W., Montreal. QC, H4B 2Y1
                </span>

                <a class="buttons bookplace fright radius"><i class="fa fa-check" aria-hidden="true"></i> Join us</a>

                <a class="buttons facebook fright radius" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                -->

                <div class="clear"></div>
                <div class="event-map">
                    <h3>Browse map</h3><br />
                    <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%C8%98tefan+Cel+Mare+%C8%99i+Sf%C3%AEnt,+Chi%C5%9Fin%C4%83u,+Moldova&amp;aq=2&amp;oq=Stefan+cel+Mare+si+s&amp;sll=37.0625,-95.677068&amp;sspn=58.598104,135.263672&amp;t=m&amp;ie=UTF8&amp;hq=%C8%98tefan+Cel+Mare+%C8%99i+Sf%C3%AEnt,&amp;hnear=Chisinau,+Moldova&amp;ll=47.025931,28.830556&amp;spn=0.026413,0.037752&amp;output=embed"></iframe>
                </div>

                <div class="book-your-place">

                    <h3>Join us:</h3><br />
                    <form action="processForm.php" id="reservation-form" method="post">

                        <p>
                            <label for="contactName"></label>
                            <input class="radius" type="text" name="contactName" id="contactName" value="" placeholder="Name*" required />
                        </p>
                        <p>
                            <label for="email"></label>
                            <input class="radius" type="email" name="email" id="email" value="" placeholder="Email Adress*" required />
                        </p>

                        <p>
                            <label for="commentsText"></label>
                            <textarea class="contactme-text required requiredField radius" name="message" cols="20" rows="5" placeholder="Do you have smth to say?" required="required"></textarea>

                        </p>
                        <p>
                            <input class="buttons radius send" value="Send !" type="submit" />
                            <input type="hidden" name="submitted" id="submitted" value="true" />
                        </p>
                    </form>


                </div>
            </div>

            <div class="entry-content">

                <figure>
                    <img width="848" height="352" src="{{ n.image.url }}" class="wp-post-image" alt="{{ n.title }}">
                </figure>

                <div class="long-description">
                    <h3>{{ n.title }}</h3>
                    <br />
                    {% for t in n.text %}
                        <p>{{ t }}</p>
                    {% endfor %}
                </div>


                <div class="clear"></div>

            </div>

            <div class="clear"></div>

        </article>


    </div>

    <div id="secondary" class="grid_4 widget-area" role="complementary">


        <aside id="wpltfb-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Recent News</h3>
                <div class="viewall fright"><a href="{% url 'blog.index' %}" class="radius" title="View all news">view all</a></div>
                <!-- <div class="viewall fright"><a href="{% url 'event.index' when='upcoming' %}" class="radius" title="View all news">view all</a></div> -->
                <div class="clear"></div>
            </div>

            <div class="widget-event-body">
                {% for n in news %}
                    <article class="event-item">
                        <figure>
                            <a title="{{ n.title }}" href="{% url 'blog.single' n.slug %}">
                                <img width="272" height="150" src="{{ n.image.url }}" class="wp-post-image" alt="{{ n.title }}">
                                <div class="mask radius">
                                    <div class="mask-square"><i class="fa fa-link" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </figure>
                        <h3 class="entry-header">
                            <a title="{{ n.title }}" href="{% url 'blog.single' n.id %}">{{ n.title }}</a>
                        </h3>

                        <div class="entry-meta-widget">
                            <!-- <div class="date"><time datetime="{{ n.date_created }}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ n.n.date_created|date:"M d, Y" }}</time></div> -->
                            <!-- {# <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">51 Sherbrooke W., Montreal</a></div> #}
                            {# <div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Facebook</a></div> #} -->
                        </div>

                    </article>
                {% endfor %}
            </div>
        </aside>

    </div>
    <div class="clear"></div>
</div>
{% endblock content %}