.list.event img {
    max-height: 170px;
    max-width: 292px;
}

/* #teaser li > img {
    height: 714px;
    width: 1920px;
    object-fit: contain;
} */

@media screen and (max-width:425px) {
    #contact-form input, #contact-form textarea {
        width: 90%;
    }
    #contact-form .buttons.radius.send {
        width: 96%;
    }
}