{% extends "layout.html" %}
{% load static %}

{% block teaser %}
    {% with title='Works' %}
        {% include "includes/breadcrumbs.html" %}
    {% endwith %}
{% endblock teaser %}

{% block content %}
<div class="inner">
    <div id="primary" class="grid_11 suffix_1">

        <article class="single">

            <div class="entry-content">

                <figure>
                    <img width="848" height="352" src="{{ w.image.url }}" class="wp-post-image" alt="{{ w.title }}">
                </figure>

                <div class="long-description">
                    <h3>{{ w.title }}</h3>
                    <br />
                    {% for desc in w.descriptions %}
                        {% if desc %}
                            <p>{{ desc }}</p>
                        {% endif %}
                    {% endfor %}
                </div>


                <div class="clear"></div>

            </div>

            <div class="clear"></div>

        </article>


    </div>

    <div id="secondary" class="grid_4 widget-area" role="complementary">


        <aside id="wpltfb-2" class="widget WPlookCauses">
            <div class="widget-title">
                <h3>Latest News</h3>
                <div class="clear"></div>
            </div>

            <div class="widget-event-body">
                {% for n in news %}
                    <article class="event-item">
                        <figure>
                            <a title="Image title" href="{% url 'blog.single' n.id %}">
                                <img width="272" height="150" src="{{ n.image.url }}" class="wp-post-image" alt="{{ n.title }}">
                                <div class="mask radius">
                                    <div class="mask-square"><i class="fa fa-link" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </figure>
                        <h3 class="entry-header">
                            <a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="{% url 'blog.single' n.id %}">{{ n.title }}</a>
                        </h3>

                        <div class="entry-meta-widget">
                            <div class="date"><time datetime="2018-04-25T19:02:42+00:00"><i class="fa fa-calendar" aria-hidden="true"></i> {{ n.date_created|date:"M d, Y" }}</time></div>
                            {# <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">51 Sherbrooke W., Montreal</a></div> #}
                            {# <div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Facebook</a></div> #}
                        </div>

                    </article>
                {% endfor %}
            </div>
        </aside>

    </div>
    <div class="clear"></div>
</div>
{% endblock content %}